#output, .textarea{
	font-size: 0.85rem;
}

.content pre{
	padding: 0.8em 0.8em;
	max-height: 500px;
}

.section {
    padding: 1rem 1rem;
}
.actions {
	padding-bottom: 8px;
	padding-top: 8px;
}
button{
	margin-left: 4px;
}

.tabSpace2{
	tab-size: 2;
}
.tabSpace3{
	tab-size: 3;
}
.tabSpace4{
	tab-size: 4;
}

#magicWarning .json-warning{
	border: 1px solid #ff0e0c;
	color: #ff0e0c;
	padding: 4px;
	border-radius: 4px;
}

.hidden { display: none; }

