#output, .textarea{
	font-size: 0.85rem;
}

pre{
	padding: 0.8em 0.8em;
	max-height: calc(100vh - 4em - 280px);
}

.section {
    padding: 1rem 1rem;
}
.actions, .actions-pre {
	padding-bottom: 8px;
	padding-top: 8px;
}
button{
	margin-left: 4px;
}

.tabSpace2{
	tab-size: 2;
}
.tabSpace3{
	tab-size: 3;
}
.tabSpace4{
	tab-size: 4;
}

#magicWarning .json-warning{
	border: 1px solid #ff0e0c;
	color: #ff0e0c;
	padding: 4px;
	border-radius: 4px;
}

.hidden { display: none; }

.logo{
	margin-bottom: 0;
    font-size: 26px;
    /* text-transform: uppercase; */
    font-family: inherit;
    font-weight: bold;
}
